@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #093A3E;
    background-image: linear-gradient(-45deg, #093A3E, #15767e);
}

.box {
    background-color: #F7C59F;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 600px;
}

.main_header {
    flex-basis: 100%;
}

.main_content {    
    flex-basis: 100%
}

.display-url {
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 20px;
    background-color: #f3dac6;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.copy_btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #F7C59F;
    border: 3px solid #f3dac6;
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}